<launch>

  <arg name="delta_value" default="0.1" />
  <arg name="xmin" default="-10.0"/>
  <arg name="ymin" default="-10.0"/>
  <arg name="xmax" default="10.0"/>
  <arg name="ymax" default="10.0"/>

  <!--- Run gmapping -->
  <include file="$(find gromi_scan_planning)/launch/gmapping_demo.launch">
    <arg name="delta_value" value="$(arg delta_value)" />
    <arg name="xmin" value="$(arg xmin)"/>
    <arg name="ymin" value="$(arg ymin)"/>
    <arg name="xmax" value="$(arg xmax)"/>
    <arg name="ymax" value="$(arg ymax)"/>
  </include>

  <!--- Run Pointcloud Filter -->
  <include file="$(find gromi_scan_planning)/launch/pointcloud_filter.launch" />

  <!--- Run Pointcloud to Laserscan -->
  <include file="$(find gromi_scan_planning)/launch/point2laser.launch" />

  <!--- Run Twist Mux -->
  <include file="$(find gromi_scan_planning)/launch/twist_mux.launch" />

  <!-- <node pkg="gromi_scan_planning" type="z_correction.py" name="z_correction" output="screen" /> -->

</launch>
